@model ICream.Models.ContactM

@{
    ViewData["Title"] = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Update with your layout path
}

<div class="container">
    </br>
    <h1 class="text-center">Thank you for choosing iCream!</h1>
    <p class="text-center">We are delighted to confirm that your order has been successfully received and is now being processed.</p>
    <p class="text-center"><a asp-controller="index" asp-action="Index" class="nav-item nav-link">See you soon:)</a></p>

</div>

