@model ICream.Models.ContactM

@{
    ViewData["Title"] = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container" >
   </br>
    <h1 class="text-center">Thank You for Contacting Us!</h1>
    <p class="text-center">We will review your message and be in touch soon.</p>

</div>
